/* popcorn.css */
body {
    font-family: Arial;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  img {
    width: 100px;
  }
  .movie-card {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    align-items: center;
  }
  